* {
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
}
section {
  background-color: rgb(39, 24, 24);
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 90%;
  max-width: 400px;
  background-color: rgb(1, 1, 184);
  border-radius: 8px;
  overflow: hidden;
}
.display {
  background-color: blueviolet;
  height: 100px;
  width: 100%;
  padding: 20px;
  text-align: right;
  font-size: 30px;
  position: relative;
}
.display-1 {
  font-size: 25px;
  opacity: 0.5;
}
.temp-display {
  font-size: 25px;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
}
.all-buttons {
  color: antiquewhite;
  display: grid;
  /* -----grid-template----- */
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}
.btn {
  height: 100px;
  width: 100%;
  border: 0.5px solid lightslategray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(30, 30, 97);
}
.btn-0 {
  /* -----grid-column----- */
  grid-column: 1/3;
}
